<article>

        <h2 id="Introduction">Welcome to the Palindrome Checker!</h2>
        <p>A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring spacing and punctuation; only alphanumeric characters matter).
        </p>

        <p>For example, the following phrases are palindromes:</p>
        <ul>
            <li>Madam</li>
            <li>He did, eh?</li>
            <li>Go hang a salami, I’m a lasagna hog.</li>
        </ul>

        <form action="/result" method="POST" class="new-post-form">
            <label class="label">
                Have a try!
                <input type="text" name="text-to-test" placeholder="Enter your text" class="full-width-input"/>
            </label>
            <button type="submit">Check!</button>
        </form>

</article>

