<section>
    <div>
        <h2>Welcome to the Logout Page!</h2>
    </div> 
    <div>
        <p>You have been logged out.</p>
    </div>
    <div>
        <ul>
            <li><a href = "/">Login Again!</a></li>
        </ul>
    </div>
</section>
